<ion-header>
    <ion-toolbar class="header">
        <ion-title><strong>Passo 2</strong> / 5</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ss-title-passos title="Perfil" icon="person" urlBase="registro" urlSecundaria="conta"></ss-title-passos>
    <form class="form" [formGroup]="formPerfil">
        <ss-input label="Nome">
            <input class="form-control" type="text" formControlName="nome" />
        </ss-input>
        <ss-input label="E-mail">
            <input class="form-control" type="text" formControlName="email" />
        </ss-input>
        <ss-input label="Data de nascimento">
            <input mask="d0/m0/0000" [dropSpecialCharacters]="true" class="form-control" type="text" formControlName="nascimento" />
        </ss-input>
        <ion-button shape="round" [disabled]="!formPerfil.valid" expand="full" (click)="gravar()">Próximo</ion-button>
    </form>
</ion-content>