.header{
    --background: var(--azulPadrao);
    --border-color: none;
    --color: white;

    ion-buttons{
        .backButton{
            --color: white;
        }
    }
}

.form{
    width: calc(100vw - 2rem);
    margin: 10px auto;

    .esqueceuSenha{
        text-align: right;
        font-size: 13px;
        text-decoration: underline;
        margin-bottom: 25px;
        margin-top: 20px;
    }
}

