.header {
  --background: var(--azulPadrao);
  --border-color: none;
  --color: white;
  --border-color: var(--azulPadrao);

  ion-buttons {
    .backButton {
      --color: white;
    }
  }
}

.form-control {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  float: left;
  -webkit-box-shadow: inset 0 5px 9px -7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 5px 9px -7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 5px 9px -7px rgba(0, 0, 0, 0.7);

  &:focus {
    box-shadow: none;
  }

  &.is-invalid {
    border-color: red;
    margin-bottom: 0;
  }
}

.form {
  width: calc(100% - 2rem);
  max-width: 800px;
  margin: 10px auto;

  .esqueceuSenha {
    text-align: right;
    font-size: 13px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-weight: bold;
  }
}
