<ion-header>
    <ion-toolbar class="header">
        <ion-buttons mode="ios" color="light" slot="start">
            <ion-back-button class="backButton" [text]="'Voltar'" color="light" (click)="voltar()"></ion-back-button>
        </ion-buttons>
        <ion-title>Entrar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="form" [formGroup]="formEntrar">
        <ss-input label="CPF">
            <input class="form-control" type="text" mask="000.000.000-00" formControlName="cpf"/>
        </ss-input>
        <ss-input label="Senha">
            <input class="form-control" type="password" formControlName="senha"/>
        </ss-input>
        <div class="esqueceuSenha"><strong>Esqueceu a senha?</strong></div>
        <ion-button shape="round" [disabled]="!formEntrar.valid" expand="full">Logar</ion-button>
    </form>
</ion-content>