<div class="item" *ngFor="let item of itens">
    <div class="dia-horario">
        <div class="dia">{{formaterData(item.data)}}</div>
        <div class="mes">{{formaterMes(item.data) | uppercase}}</div>
        <div class="horario">{{item.hora}}</div>
    </div>
    <div class="informacoes">
        <div class="header">
            <div class="informacoes-medico">
                <div class="especialidade">{{item.especialidade.nome}}</div>
                <div class="medico">{{formaterName(item.usuario.nome)}}</div>
            </div>
        </div>
        <div class="localizacao">
            <ion-icon name="pin"></ion-icon>
            <div class="local">{{item.consultorio.nome}}</div>
        </div>
        <!-- <ss-button class="button" label="Informações" type="button-card"></ss-button> -->
        <ion-button fill="clear" color="primary" size="small" (click)="obterDetalhes(item)">Informações</ion-button>
    </div>
</div>