<div class="item" *ngFor="let item of itens">
    <div class="dia-horario">
        <div class="dia">20</div>
        <div class="mes">NOVEMBRO</div>
        <div class="horario">08:00</div>
    </div>
    <div class="informacoes">
        <div class="header">
            <!-- <img src="../../../assets/img/medico.jpg"> -->
            <div class="informacoes-medico">
                <div class="especialidade">Clínico geral</div>
                <div class="medico">{{item.medico}}</div>
            </div>
        </div>
        <div class="localizacao">
            <ion-icon name="pin"></ion-icon>
            <div class="local">Nova América</div>
        </div>
    </div>
</div>