.item {
    background-color: white;
    width: calc(100vw - 20px);
    margin: 10px auto 0;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
    overflow: hidden;
    position: relative;

    .dia-horario{
        text-align: center;
        width: 80px;
        color: white;
        display: inline-block;

        .dia{
            font-size: 36px;
            padding-top: 5px;
            background-color: var(--azulPadrao);
        }
        .mes{
            font-size: 11px;
            padding-bottom: 3px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: var(--azulPadrao);
        }
        .horario{
            font-size: 14px;
            border-top: 1px solid #fff;
            padding-top: 4px;
            padding-bottom: 5px;
            background-color: var(--azulPadrao);
        }
    }

    .informacoes{
        height: 100%;
        width: calc(100vw - 100px);
        padding: 5px;
        border-left: 1px solid #fff;
        display: inline-block;
        position: absolute;
        top: 0px;

        .header {
            height: 38px;
            width: 100%;
            position: absolute;
            top: 6px;

            .informacoes-medico{
                position: absolute;
                top: 50%;
                left: 3px;
                transform: translateY(-50%);

                .medico{
                    font-size: 20px;
                    font-weight: bold;
                }

                .especialidade{
                    font-size: 11px;
                }
            }
        }


        ion-chip{
            position: absolute;
            bottom: 5px;
            left: 5px;
            font-size: 12px;
            padding: 3px 10px;
        
            ion-icon{
                font-size: 16px;
            }
        }

        ion-button{
            position: absolute;
            bottom: 5px;
            right: 0px;
            font-size: 12px;
        }
    }
}