.item {
    background-color: white;
    width: calc(100vw - 20px);
    margin: 10px auto 0;
    height: 75px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
    overflow: hidden;

    .dia-horario{
        text-align: center;
        float: left;
        color: white;

        .dia{
            font-size: 20px;
            padding-top: 5px;
            background-color: var(--azulPadrao);
        }
        .mes{
            font-size: 11px;
            padding-bottom: 3px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: var(--azulPadrao);
        }
        .horario{
            font-size: 14px;
            border-top: 1px solid #fff;
            padding-top: 4px;
            padding-bottom: 5px;
            background-color: var(--azulPadrao);
        }
    }

    .informacoes{
        height: 100%;
        float: left;
        padding: 5px;
        border-left: 1px solid #fff;

        .header {
            height: 38px;
            width: calc(100vw - 106px);
            position: relative;

            .informacoes-medico{
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);

                .medico{
                    font-size: 17px;
                }

                .especialidade{
                    font-size: 11px;
                }
            }
        }

        .localizacao {
            display: flex;
            font-size: 13px;
            position: relative;
            margin-top: 8px;
            height: 20px;
            
            ion-icon{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 15px;
            }

            .local{
                position: absolute;
                left: 17px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

ion-card{
    background-color: white;
    padding: 5px;

    ion-card-content{
        padding: 10px;
    }
}