<div class="item" *ngFor="let item of itens">
    <div class="dia-horario">
        <div class="dia">{{formaterData(item.data)}}</div>
        <div class="mes">{{formaterMes(item.data) | uppercase}}</div>
        <div class="horario">{{item.hora}}</div>
    </div>
    <div class="informacoes">
        <div class="header">
            <div class="informacoes-medico">
                <div class="especialidade">{{item.especialidade.nome}}</div>
                <div class="medico">{{item.usuario.nome}}</div>
            </div>
        </div>
        <div class="status" [ngClass]="{'red' : item.statusConsulta.codigo == 'cancelado', 'orange' : item.statusConsulta.codigo == 'pre_agendamento', 'green' : item.statusConsulta.codigo == 'confirmado'}">
            <ion-icon name="radio-button-on"></ion-icon>
        </div>
        <ion-chip (click)="abrirMapa(item.consultorio)">
            <ion-icon name="pin"></ion-icon>
            <ion-label>{{item.consultorio.nome}}</ion-label>
        </ion-chip>
        <ion-button (click)="obterDetalhes(item)" fill="clear" color="primary">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-button>
    </div>
</div>