<ion-header>
  <ion-toolbar class="header">
    <ion-buttons mode="ios" color="light" slot="start">
      <ion-back-button
        class="backButton"
        [text]="'Voltar'"
        color="light"
        (click)="voltar()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Sua agenda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="no-scroll">
  <div class="lista">
    <ss-tabs [itens]="tabs" (tabClick)="obterTabAtual($event)"></ss-tabs>
    <ion-content>
      <ss-erro-tentar-novamente (tentarNovamente)="tentarNovamenteAction()" *ngIf="tentarNovamente"></ss-erro-tentar-novamente>
      <ss-item-agenda
        *ngIf="agenda || !tentarNovamente"
        [itens]="agenda"
        (detalhes)="modalDetalhes($event)"
      ></ss-item-agenda>
      <div class="erro" *ngIf="nenhumaConsulta">
        <div class="titulo">
          {{idAtual == '1' ? 'Nenhuma consulta marcada :(' : 'Você não tem nenhuma consulta'}}
        </div>
        <div class="subTitulo" *ngIf="idAtual == '1'">
          <ion-chip color="primary" outline="true" (click)="agendarConsulta()">
            <ion-icon name="create"></ion-icon>
            <ion-label>Agendar consulta</ion-label>
          </ion-chip>
        </div>
      </div>
    </ion-content>
  </div>
</ion-content>
