<ion-header>
  <ion-toolbar class="header">
    <ion-buttons mode="ios" color="light" slot="start">
      <ion-back-button
        class="backButton"
        [text]="'Voltar'"
        color="light"
        (click)="voltar()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Sua agenda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="no-scroll">
  <div class="lista">
    <ss-tabs [itens]="tabs" (tabClick)="obterTabAtual($event)"></ss-tabs>
    <ion-content>
      <ss-item-agenda
        *ngIf="agenda"
        [itens]="agenda"
        (detalhes)="modalDetalhes($event)"
      ></ss-item-agenda>
    </ion-content>
  </div>
</ion-content>
