<ion-header>
  <ion-toolbar class="header">
    <ion-title style="padding: 0 50px;">
      Detalhes da consulta
    </ion-title>
    <ion-icon (click)="close()" name="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="subheader">
    <span>Status:</span>
    <div class="chip" [ngStyle]="{'background-color': value.statusConsulta.cor}">
      {{ value.statusConsulta.nome }}
    </div>
  </div>

  <div class="item">
    <div class="medico">
      <div class="foto-medico">
        <img [src]="value.usuario.urlFoto" />
      </div>
      <div class="nome-medico">
        <div>MÉDICO</div>
        <div class="nome">{{ formaterName(value.usuario.nome) }}</div>
      </div>
    </div>
    <div
      class="buttonCancelar"
      (click)="cancelarConsulta()"
      *ngIf="value.statusConsulta.codigo !== 'cancelado'"
    >
      Cancelar consulta
    </div>
    <div class="informacoes">
      <div class="especialidade">
        <div>ESPECIALIDADE</div>
        <div class="especialidade-text">{{ value.especialidade.nome }}</div>
      </div>
      <div class="crm">
        <div>CRM</div>
        <div class="crm-text">{{ value.usuario.crm }}</div>
      </div>
    </div>
  </div>

  <div class="datas">
    <ion-grid>
      <ion-row>
        <ion-col class="individual">
          DATA MARCADA
          <div class="texto">{{ formaterData(value.data) }}</div>
        </ion-col>
        <ion-col class="individual">
          HORA
          <div class="texto">{{ value.hora }}</div>
        </ion-col>
        <ion-col class="individual">
          TELEFONE
          <div class="texto" (click)="ligarCel(value.consultorio.telefone1)">
            <a>{{
              value.consultorio.telefone1 | mask: "(00) 0000-0000"
            }}</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="consultorio">
    <div class="header">INFORMAÇÕES DO LOCAL</div>
    <div class="info">
      <div class="label">ENDEREÇO</div>
      <div class="text">
        {{ value.consultorio.logradouro }}, {{ value.consultorio.numero }}
      </div>
    </div>
    <div class="info">
      <div class="label">COMPLEMENTO</div>
      <div class="text">{{ value.consultorio.complemento }}</div>
    </div>
    <div class="info">
      <div class="label">BAIRRO</div>
      <div class="text">{{ value.consultorio.bairro }}</div>
    </div>
    <div class="info">
      <div class="label">CIDADE</div>
      <div class="text">{{ value.consultorio.cidade }}</div>
    </div>
  </div>
</ion-content>
