<ion-header>
  <ion-toolbar class="header">
    <ion-title><strong>Passo 6</strong> / 6</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ss-title-passos pagina="Agendar consulta" title="Resumo da consulta" icon="clipboard" urlBase="agendar-consulta"
    urlSecundaria="consultorio">
  </ss-title-passos>
  <div class="titulo">Informações do médico</div>
  <div class="medicoInfo">
    <div class="imagem">
      <img [src]="data.urlFotoMedico">
    </div>
    <div class="info">
      <div class="section">MÉDICO</div>
      <div class="nomeMedico">{{data.medico}}</div>
    </div>
  </div>
  <div class="especialidade">
    <span>ESPECIALIDADE</span>
    <div>{{data.especialidade}}</div>
  </div>

  <div class="titulo">Informações da consulta</div>

  <div class="infoConsulta">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="section">DIA</div>
          <div>{{pegarData}}</div>
        </ion-col>
        <ion-col>
          <div class="section">HORA</div>
          <div>{{data.horario}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="titulo">Informações da consultório</div>

  <div class="imagemLocal" *ngIf="lugar">
    <div class="card">
      <img [src]="data.urlFotoLocal">
      <div class="conteudo">
        <div class="lugarTitulo">{{data.local}}</div>
        {{lugar.consultorio.logradouro+', '}}
        {{lugar.consultorio.numero}}
        {{lugar.consultorio.complemento ? ', '+lugar.consultorio.complemento+', ' : ' - '}}
        {{lugar.consultorio.bairro+', '}}
        {{lugar.consultorio.cidade+' - '}}
        {{lugar.consultorio.estado+', '}}
        {{lugar.consultorio.cep | mask:'00000-000'}}
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ss-button [disabled]="false" type="button-passos" (click)="criarConsulta()">Confirmar</ss-button>
</ion-footer>