<ion-content>
        <div class="msgBemVindo">
            Bem vindo ao<br> <strong>SS Consultório</strong>
        </div>
        <div class="background"><img src="../../../assets/img/background.png"></div>

        <div class="painel-login">
          <div class="subTitle">Agende, organize, e cancele suas consultas aonde estiver.</div>
        </div>
          <div class="buttons">
              <ion-button shape="round" color="primary" size="large" (click)="registro()">Primeiro acesso </ion-button><br>
              <ion-button shape="round" fill="clear" color="primary" (click)="login()">Entrar</ion-button>
          </div>
</ion-content>