<ion-content>
        <div class="msgBemVindo">
            Bem vindo ao <strong>SS Consultorio</strong>
        </div>
        <div class="background"><img src="../../../assets/img/background-auth.jpg"></div>

        <div class="painel-login">
          <div>O QUE DESEJA FAZER?</div>
          <ion-button shape="round" color="primary" size="large" (click)="registro()">Registrar</ion-button>
          <div>OU</div>
          <ion-button shape="round" fill="outline" color="primary" size="small" (click)="login()">Entrar</ion-button>
          <div class="esqueceuSenha">
            <span (click)="esqueceuSenha()">Esqueceu senha?</span>
          </div>
        </div>
</ion-content>