ion-content{
    --ion-background-color: white;

    .msgBemVindo{
        margin-top: 35px;
        width: 100vw;
        color: black;
        font-size: 14px;
        text-align: center;
        z-index: 99;

        strong{
            font-size: 18px;
        }
    }

    .background{
        width: calc(100vw - 70px);
        position: absolute;
        z-index: 0;
        top: 15%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);

        img{
            width: 100%;
        }
    }

    .painel-login{
        width: calc(100vw - 20px);
        position: absolute;
        border-radius: 10px;
        margin: 20px auto;
        text-align: center;
        padding: 0 20px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    
        .subTitle{
            margin-bottom: 20px;
        }
    }

    .buttons{
        position: absolute;
        bottom: 10px;
        left: 50%;
        text-align: center;
        transform: translate(-50%, 0%);
    }
}