<ion-header>
    <ion-toolbar class="header">
        <ion-title><strong>Passo 3</strong> / 5</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ss-title-passos title="Contato" icon="call" urlBase="registro" urlSecundaria="perfil"></ss-title-passos>
    <div class="form">
        <ss-input label="Telefone" type="text"></ss-input>
        <ss-input label="Celular" type="text"></ss-input>
        <ion-button shape="round" expand="full" (click)="ir()">Próximo</ion-button>
    </div>
</ion-content>