<ion-header>
  <ion-toolbar class="header">
    <ion-title><strong>Passo 2</strong> / 6</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ss-title-passos pagina="Agendar consulta" title="Escolha o médico" icon="medical" urlBase="agendar-consulta"
    urlSecundaria="especialidade">
  </ss-title-passos>

  <form class="form" *ngIf="medicos">

    <div class="inputGroup" *ngFor="let item of medicos; let i=index">
      <input [id]="'checkbox'+i" type="checkbox" [checked]="preencherPasso(item.usuario.id)" (change)="alterarModel(item.usuario.id)" />
      <label [for]="'checkbox'+i">
        <div>{{item.usuario.nome}}</div>
        <div class="crm">CRM: {{item.usuario.crm}}</div>
      </label>
    </div>
    <ion-button shape="round" [disabled]="medicosSelect.length == 0" expand="full" (click)="proximoPasso()">Próximo</ion-button>
  </form>
</ion-content>