<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      Editar {{title}}
    </ion-title>
    <ion-icon (click)="close()" name="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ss-title-passos pagina="Editar" [title]="label"
    [icon]="action == 'email' ? 'at' : action == 'senha' ? 'lock' : 'phone-portrait'" urlBase="off" urlSecundaria="off">
  </ss-title-passos>

  <form class="form" *ngIf="action == 'email'" [formGroup]="formEmail">
    <ss-input label="E-mail">
      <input class="form-control" type="email" formControlName="email" />
      <ss-validacao [validacao]="formEmail.valid"></ss-validacao>
    </ss-input>
    <ion-button shape="round" [disabled]="!formEmail.valid" expand="full" (click)="editar(formEmail.value)">Próximo</ion-button>
  </form>

  <form class="form" *ngIf="action == 'senha'" [formGroup]="formSenha">
    <ss-input label="Senha">
      <input class="form-control" type="password" formControlName="senha" />
      <ss-validacao [validacao]="formSenha.valid"></ss-validacao>
    </ss-input>
    <ss-input label="Confirmar senha">
      <input class="form-control" type="password" formControlName="confSenha" />
      <ss-validacao [validacao]="formSenha.valid"></ss-validacao>
    </ss-input>
    <ion-button shape="round" [disabled]="!formSenha.valid" expand="full" (click)="editar(formSenha.value)">Próximo</ion-button>
  </form>

  <form class="form" *ngIf="action == 'celular'" [formGroup]="formCelular">
    <ss-input label="Celular">
      <input class="form-control" type="tel" mask="(00) 00000-0000" formControlName="celular" />
      <ss-validacao [validacao]="formCelular.valid"></ss-validacao>
    </ss-input>
    <ion-button shape="round" [disabled]="!formCelular.valid" expand="full" (click)="editar(formCelular.value)">Próximo</ion-button>
  </form>
</ion-content>