.header{
    --background: var(--azulPadrao);
    --border-color: none;
    --color: white;

    ion-buttons{
        .backButton{
            --color: white;
        }
    }

    ion-title{
        font-weight: normal;
        font-size: 12px;

        strong{
            font-size: 17px;
        }
    }
}

.form-control {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    float: left;
    -webkit-box-shadow: inset 0 5px 9px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0 5px 9px -7px rgba(0,0,0,0.7);
    box-shadow: inset 0 5px 9px -7px rgba(0,0,0,0.7);
    text-align: center;

    &:focus {
        box-shadow: none;
    }

    &.is-invalid {
        border-color: red;
        margin-bottom: 0;
    }
}

.form{
    width: calc(100vw - 2rem);
    margin: 10px auto;
    text-align: center;

    .sms{
        width: calc(100% - 200px);
        margin: 30px auto 20px;
        height: 40px;
    }

    .texto{
        margin-top: 30px;
        text-align: center;
        font-size: 14px;
        color: #686868;
    }

    .textoSms{
        text-align: center;
        font-size: 14px;
        color: #929292;
        text-decoration: underline;
    }

    ion-button{
        margin-top: 30px;
    }

    .btnSms{
        margin: 0 auto;
        color: var(--azulPadrao);
    }
}

