.tabs {
  width: 100%;
  background-color: white;

  .item {
    cursor: pointer;
    display: inline-flex;
    width: 50%;
    padding: 15px;
    font-size: 13px;

    .align-center {
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }

  .item-ativo {
    border-bottom: 2px solid var(--azulPadrao);
    color: var(--azulPadrao);
  }
}
