<ion-header>
    <ion-toolbar class="header">
        <ion-buttons mode="ios" color="light" slot="start">
            <ion-back-button class="backButton" [text]="'Voltar'" color="light" (click)="voltar()"></ion-back-button>
        </ion-buttons>
        <ion-title><strong>Passo 1</strong> / 3</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ss-title-passos pagina="Esqueceu senha" title="Dados" icon="apps" urlBase="off" urlSecundaria="off"></ss-title-passos>
    <form class="form" [formGroup]="formDados">
        <ss-input label="CPF">
            <input class="form-control" type="text" mask="000.000.000-00" formControlName="cpf"/>
            <ss-validacao [validacao]="formDados.controls.cpf.valid"></ss-validacao>
        </ss-input>
        <ss-input label="Data de nascimento">
            <input mask="d0/m0/0000" [dropSpecialCharacters]="true" class="form-control" type="text" formControlName="nascimento" />
            <ss-validacao [validacao]="formDados.controls.nascimento.valid"></ss-validacao>
        </ss-input>
        <ion-button shape="round" expand="full" [disabled]="!formDados.valid" (click)="enviar()">Próximo</ion-button>
    </form>
</ion-content>