.header {
  --background: var(--azulPadrao);
  --border-color: none;
  --color: white;
  --border-style: none;

  .toolbar-background {
    --border-color: none;
  }

  ion-buttons {
    .backButton {
      --color: white;
    }
  }
}

ion-content{
  --background: #d2d9e0;
}

.content-perfil{
  height: 100%;
  width: 100%;
  padding: 10px;
}

.divisor{
  margin-top: 10px;
}

.list-ios{
  margin-bottom: 10px !important;
}

.labelEditar{
  position: relative;

  .buttonEditar{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 2px 10px;
    background-color: var(--azulPadrao);
    border-radius: 4px;
    color: white;

    &:active{
      background-color: var(--azulPadrao-active);
    }
  }
}
