<!-- <ion-header>
  <ion-toolbar class="header">
      <ion-title>{{data.titulo}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
    <div class="loading">

      <div class="subTitulo" *ngIf="loading">{{data.mensagem}}</div>
      <div class="subTitulo success" *ngIf="enviado && !loading">Sucesso!</div>

      <div class="icon">
        <ion-spinner *ngIf="loading" name="lines"></ion-spinner>
        <ion-icon class="success" *ngIf="enviado && !loading" name="checkmark-circle-outline"></ion-icon>
      </div>

      <div class="msg success" *ngIf="enviado && !loading">
        Estamos te redirecionando
      </div>

    </div>
</ion-content>