<ion-header>
    <ion-toolbar class="header">
        <ion-title><strong>Passo 3</strong> / 3</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ss-title-passos title="Nova senha" icon="lock" urlBase="esqueceu-senha" urlSecundaria="confirmar-sms"></ss-title-passos>
    <div class="form">
        <ss-input formValidacao="true" label="Nova senha" type="password"></ss-input>
        <ss-input formValidacao="true" label="Confirmar nova senha" type="password"></ss-input>
        <ion-button shape="round" color="primary" expand="full" (click)="ir()">Confirmar</ion-button>
    </div>
</ion-content>