.header {
  --background: var(--azulPadrao);
  --border-color: none;
  --color: white;

  ion-buttons {
    .backButton {
      --color: white;
    }
  }

  ion-title {
    font-weight: normal;
    font-size: 12px;

    strong {
      font-size: 17px;
    }
  }
}

ion-footer{
  
  button{
    width: 100%;
    height: 45px;
    background-color: var(--azulPadrao);
    color: white;
    font-size: 16px;

    &:disabled{
      background-color: #9abeff;
      color: rgba(255, 255, 255, 0.425)
    }

    &:active{
      background-color: var(--azulPadrao-active);
    }
  }
}
