<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      Bem vindo, <strong>{{formatarNome}}</strong>
    </ion-title>
      <ion-button slot="end" fill="clear" color="light" (click)="deslogar()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ss-menu [itens]="menu"></ss-menu>
  <div class="lista">
    <ss-tabs [itens]="tabs" (tabClick)="obterTabAtual($event)"></ss-tabs>
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="atualizarLista($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingText="Refreshing..."></ion-refresher-content>
      </ion-refresher>
      <ss-item-agenda [itens]="agenda" (detalhes)='modalDetalhes($event)'></ss-item-agenda>
    </ion-content>
  </div>
</ion-content>
<ion-footer>
    <ss-button label="Agenda Completa" type="button-lista" (clickAgenda)="verAgendaCompleta()"></ss-button>
</ion-footer>