.logo-wrapper {
  background-color: white;
  width: 100vw;
  height: 100vh;

  .logo-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 21px));
    width: 25%;
    max-width: 100px;
    text-align: center;

    .logo-img {
      height: 61px;
      display: block;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}
