.conteudo {
  text-align: center;
  padding: 15px;
  .title{
    font-size: 20px;
    font-weight: bold;
    color: #5c5c5c;
  }

  .subTitle{
    margin-top: 10px;
    font-size: 14px;
    color: #8a8a8a;
  }

  .icon{
    margin-top: 10px;
    font-size: 17px;
  }
}