<ion-header>
    <ion-toolbar class="header">
        <ion-title><strong>Passo 2</strong> / 3</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ss-title-passos title="Confirmar SMS" icon="mail" urlBase="esqueceu-senha" urlSecundaria="dados"></ss-title-passos>
    <div class="form">
        <div class="texto">Um SMS foi enviado para seu número.</div>
        <div class="sms">
            <ss-input formValidacao="false" label="" type="text" mode="sms"></ss-input>
        </div>
        <div class="textoSms" (click)="reenviar()">Não recebeu sms? Enviar novamente!</div>
        <ion-button shape="round" color="primary" expand="full" (click)="ir()">Confirmar</ion-button>
    </div>
</ion-content>