<ion-header>
    <ion-toolbar class="header">
        <ion-buttons mode="ios" color="light" slot="start">
            <ion-back-button class="backButton" [text]="'Voltar'" color="light" (click)="voltar()"></ion-back-button>
        </ion-buttons>
        <ion-title><strong>Passo 1</strong> / 5</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ss-title-passos title="Conta" icon="cog" urlBase="off" urlSecundaria="off"></ss-title-passos>
    <form class="form" [formGroup]="formConta">

        <ss-input label="CPF">
            <input class="form-control" type="text" mask="000.000.000-00" formControlName="cpf"/>
        </ss-input>
        <ss-input label="Senha">
            <input class="form-control" type="password" formControlName="senha"/>
        </ss-input>
        <ss-input label="Confirmar Senha">
            <input class="form-control" type="password" formControlName="confSenha"/>
        </ss-input>

        <ion-button shape="round" [disabled]="!formConta.valid" expand="full" (click)="gravar()">Próximo</ion-button>
    </form>
</ion-content>