<ion-header>
    <ion-toolbar class="header">
        <ion-buttons mode="ios" color="light" slot="start">
            <ion-back-button class="backButton" [text]="'Voltar'" color="light" (click)="voltar()"></ion-back-button>
        </ion-buttons>
        <ion-title><strong>Passo 1</strong> / 3</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- Conta<br> -->
    <ion-button color="tertiary" (click)="ir()">Próximo</ion-button>
    <div class="form">
        <ss-input label="Email" type="text" validacao="true"></ss-input>
    </div>
</ion-content>