.header{
    --background: var(--azulPadrao);
    --border-color: none;
    --color: white;

    ion-buttons{
        .backButton{
            --color: white;
        }
    }

    ion-title{
        font-weight: normal;
        font-size: 12px;

        strong{
            font-size: 17px;
        }
    }
}

.form{
    width: calc(100vw - 2rem);
    margin: 10px auto;
    text-align: center;

    .telefone{
        padding-top: 20px;
        font-weight: bold;
        display: table;
        margin: 0 auto;
        font-size: 20px;
        padding-bottom: 40px;
    }

    .texto{
        font-size: 15px;
        color:#969696;
        padding-bottom: 40px;
    }
}

